ignore/

# Игнорировать виртуальное окружение
venv/
*.venv

# Игнорировать файлы VS Code
.vscode/

# Игнорировать файлы Python bytecode
__pycache__/
*.pyc
*.pyo

# Игнорировать настройки IDE (если они есть)
.idea/

*.zip